node_modules/
.env
.env.*
!.env.example
data/
dist/
*.log
.DS_Store


cloud-functions/transcript-processor/chat-sa-key.json
cloud-functions/chat-processor/requirements.txt
docker/mcp-servers/docker-compose-gmail.yml
docker/mcp-servers/gcp-oauth.keys.json
docker/mcp-servers/credentials.json
